@import "tailwindcss";

@theme {
  --color-primary: #7db7e8;     /* More saturated blue */
  --color-secondary: #e9a978;   /* More saturated orange/peach */
  --color-secondary-dark: #d9915c; /* More saturated dark orange */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.animate-wave {
  animation: wave 15s linear infinite;
}
